.cardboxmain{
    color: #526386;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.CardA{
    padding: 8px ;
    border: 2px solid rgba(0, 0, 0, 0.068);
    height: 50px;
    background-color: white;
    border-radius: 8px;
    text-align: left;
}

.cardboxA{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.cardbox{
    width: 50%;
}

.textH{
    font-size: 0.8rem;
    color: #373b7b99;
}

@media only screen and (max-width: 1110px){
    
    .CardA{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        width: 160px;
        align-items: center;
    }


}

