.footerSection{
    /* border: 2px solid black; */
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Consult{
 cursor: pointer;
    font-weight: bolder;
}

.footerParagraph{
    font-size: 12px;
    font-weight: lighter;
    color: grey;
}

@media only screen and (max-width: 700px){
.hide{
    display: none;
}
.footerSection{
    display: flex;
    justify-content: space-evenly;
}
}